# Virtual Environment
venv/
.venv/
env/
.env/

# Environment Variables
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
wheels/
.eggs/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
/staticfiles/
/mediafiles/

# Testing & Coverage
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.tox/
nosetests.xml
coverage.xml
*.cover

# Editors
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db


# Misc
*.bak
*.tmp
.mypy_cache/
.dmypy.json
dmypy.json
pip-log.txt
pip-delete-this-directory.txt